.pricePlans {
  padding: 100px 0;
  display: grid;
  justify-content: center;
  background-color: #f9f9f9;
  color: #888;

  .header {
    text-align: center;
    margin: 0px 25%;

    margin-bottom: 80px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 30px;

    @media screen and (min-width: 426px) and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }
    @media screen and (min-width: 0px) and (max-width: 425px) {
      grid-template-columns: 1fr;
      justify-items: stretch;
      padding: 15px;
    }
  }
}
